.navbar {
  background-color: #0c1212;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.nav-left {
  width: 20%;
  height: 100%;
}
.nav-right {
  width: 30%;
  height: 100%;
}

.logo-icon {
  color: #95bf47;
}
.nav-left-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  color: white;
  font-size: 10px;
}

.nav-right-list{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  color: white;
  font-size: 10px;
}


.brightness{
  color: rgb(219, 159, 49);
  font-size: 15px;
}


.search{
  background: #151D1E;
  border: 1px solid #2b798d;
  border-radius: 5px;
  padding: 5px 0 5px 20px;
  box-sizing: border-box;
  margin-top: -15px;
}


.magnifier{
  position: relative;
  left: 18px;
}

.slash{
border: 1px solid #2b797d;
padding: 5px 8px;
position: relative;
right: 30px;
border-radius: 5px;
}

.logo{
  position: absolute;
  left: 10px;
}